<h1>Login</h1>

<form action="/auth/login" method="POST" class="form-inline">
  <div class="form-group mb-2">
    <label for="username" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control">

  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control">
  </div>

    <button type="submit" class="btn btn-secondary">Login</button>
</form>

<div>
    <form action="/auth/google" method="GET">
        <button class="btn btn-primary mb-2">Login with Google 🌈</button>
    </form>
</div>
