
<div class="signup-login-forms-component">
  <div class="signup-login-forms">
    <h1>Login.</h1>
    <form class="signup-login-forms" action="/auth/login" method="POST">
      <div>
        {{!-- <label for="username" class="sr-only">Username</label> --}}
        <input class="inputs" type="text" name="username" placeholder="Username">
      </div>
      <div>
        {{!-- <label for="password" class="sr-only">Password</label> --}}
        <input class="inputs" type="password" name="password" placeholder="Password">
      </div>

      <button class="signup-login-component normalButton" type="submit">Login</button>
    </form>

    <form action="/auth/google" method="GET">
            <button class="signup-login-component googleButton" ><span><img class="googleButtonImg" src="../images/gsignup.png" alt=""></span> Login with Google</button>
    </form>
  </div>

  {{#if message}}
    <p class="error-message" style="color: red;">{{message}}</p>
  {{/if}}
</div>





