<h1>MicroHelp</h1>
<h2>Instantly book TA support in Slack</h2>

  {{!-- This was added just so we can trigger a slack message from the web. it is optional. --}}
  <br>
  <br>
  <form action="/schedule/sendText" method="POST">
    <label for="content">Content to be sent to Slack</label>
    <input type="text" name="content" id="content">
    <button type="submit" style="background-color: rgb(140, 39, 187); color: white;">Send text to Slack! 👀</button>
  </form>

  <a href="/auth/signup">Singup</a>
  <a href="/auth/login">login</a>

  