
<ul class="nav justify-content-center" id="chart-commands">
  <li class="nav-item" >
    <a class="nav-link active" id="initialDisplay" onclick="renderAvgSessRating()">Average session rating</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" onclick="renderAvgSessRatingByTA()" >Average session rating per TA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" onclick="renderAvgSessDuration()">Average lead time</a>
  </li>
</ul>

<div class="chart-container" style="position: relative; height:40vh; width:80vw">
<canvas id="myChart" width="10" height="10"></canvas>
<canvas id="myChart2" width="10" height="10"></canvas>
<canvas id="myChart3" width="10" height="10"></canvas>
</div>


</div>

<script src="/javascripts/script.js">
</script>
