
<ul id="chart-commands">
<li id="initialDisplay">Overview</li>
<li>Special data</li>
</ul>
{{#each sessionList}}
<p>
    <span>{{status}} {{sessionStartDate}}</span>
    <span>Student: {{student.slackUserId}} Teacher: {{teacher.slackUserId}}</span>
</p>
{{/each}}
<canvas id="myChart" width="300" height="300"></canvas>
<script src="/javascripts/script.js">
</script>
