body {
  padding: 50px;
  font: 14px "Lora", "Lucida Grande", Helvetica, Arial, sans-serif; 
  
}
a {
  color: #00B7FF; }
.Open {
  color: green;
  font-weight: 500; }
.Done {
  color: red;
  font-weight: 500; }
td.Done a {
  color: white; 
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: black;
}
nav img {
  max-width: 10vw;
  height: auto;
  margin-left: 60px
  
}
nav ul {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  font-size: 1.5rem;
  width: 35vw;
  list-style: none;
  margin: 0px;
  margin-right: 60px
}

nav ul li a {
  font-size: 1.2vw;
  margin: 10px;
  font-weight: 500;
  font-family: "Source Sans Pro";

  
}

.signupPrimary {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 7px 16px 9px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  line-height: 20px;
  background-color:black;
  color: white;
  font-weight: 400;
  border: 0px;
  margin: 4px;

}



/* .mainPhrase h1{
  font-size: 15rem;
} */
.section1 {
  margin-top: 6vw;
  margin-left: 60px;
}

.hey {
  font-size: 7rem;
  margin-bottom: 20px;
  font-weight: 100;
}
.strike {
  color: #d6d6d6;
  text-decoration: line-through;
  font-weight: 100;
  font-size: 7rem;
}
.command {
  font-weight: 600;
  font-size: 7rem;
}
.quote {
  margin-top: 100px;
  font-size: 2rem;
  max-width: 50vw;
}

.signup-login-forms {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


.signup-login-component {
  width: 300px;
  border-color: rgb(168, 168, 168);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 7px 16px 9px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  line-height: 30px;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  margin: 5px;
}



.inputs {
  font-size: 1rem;
  font-family: "Source Sans Pro";
  width: 300px;
  border-color: rgb(168, 168, 168);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 7px 16px 9px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  line-height: 30px;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  margin: 5px;
}

.normalButton{
  font-size: 1rem;
  font-family: "Source Sans Pro";
  font-weight: 400;
  background-color:black;
  color: white;
  border: 0px
}

.googleButton {
  margin: 35px;
  font-size: 1rem;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

.googleButtonImg {
 width: 20px
}

.signup-login-forms-component {
  margin-top: 15vh;
}
